canvas-draw {

height: 100%;
width : 100%;
display: block;

.firstFab {

  margin-top: 200px;
  margin-left :10px;
 }

 .secondFab {

   margin-top: 300px;
   margin-left :10px;
  }
  .eraser{

    margin-top: 400px;
    margin-left :10px;
  }

}
